<html	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" 
		data-namespace-typo3-fluid="true">	
	<f:layout name="Default" />
	
	<f:section name="Default">
		<!-- Header -->
		<f:render partial="Header/Default" arguments="{mainNavigation: mainNavigation}" />
		
		<main role="main" class="inner cover row">
			<div class="col-2">
				<!-- Submenu -->
				<f:render partial="Navigation/Submenu" arguments="{subNavigation: subNavigation}" />
			</div>
			<div class="col-10">
				<div class="row">
					<div class="col-md-8">
						<!-- First Content -->
						<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
					</div>
					<div class="col-md-4">
						<!-- Second Content -->
						<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '1'}" />
					</div>
				</div>				
			</div>
		</main>
		<!-- Footer -->
		<f:render partial="Footer/Default" section="Default" />
	</f:section>
</html>